@import url('https://fonts.googleapis.com/css2?family=Balsamiq+Sans:wght@700&family=Open+Sans:ital,wght@1,700&family=Pacifico&family=Poppins:wght@400;700&family=Roboto:wght@500&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;


@layer base {
    li{
        @apply p-[1rem]
    }

    :root {

    }

    .nav ul li{
        text-shadow: 0 0 1em hsl(0 0% 100% / 0.5);
        box-shadow: 0 0 1em 0 #04d9ff,

        inset 0 0 1em 0 #04d9ff
    }
    .nav ul .resumeButton li{
        text-shadow: 0 0 1em hsl(0 0% 100% / 0.5);
        box-shadow: 0 0 1em 0 #FF44CC,
        inset 0 0 .5em 0 #FF44CC
    }

    .hamburgerMenu{
        text-shadow: 0 0 1em hsl(0 0% 100% / 0.5);
        box-shadow: 0 0 1em 0 #FF44CC,
        inset 0 0 .5em 0 #FF44CC
    }

    .a {
        padding-bottom: 10rem;
    }

    .menuToggle {
        background: url("C:\Users\austi\OneDrive\Desktop\my-website\public\icons8-menu-50.png")
    }
}
