@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@1,700&family=Pacifico&family=Poppins:wght@400;700&family=Red+Hat+Display:wght@500&family=Roboto:wght@500&display=swap');@tailwind base;
@tailwind components;
@tailwind utilities;


@layer base {
    li{
        @apply p-[1rem]
    }

    .a {
        padding-bottom: 10rem;
    }
}

:root {
    --default-bg-color: #111827; /* your desired color */
    /* add other variables if needed */
}

body {
    background-color: var(--default-bg-color);
}

.fullImage {
    width: 100%;           
    height: 100%;          
    object-fit: cover;     
    object-position: center; 
}